<h1>投稿フォーム</h1>
  <%= form_with model: @post_image, method: :post do |form| %>
    <h4>画像</h4>
    <%= form.file_field :image, accept: "image/*" %>

    <h4>ショップ名</h4>
    <%= form.text_field :shop_name %>

    <h4>説明</h4>
    <%= form.text_area :caption %>

    <%= form.submit '投稿' %>

  <% end %>

